<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PSO2TranslationHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PSO2TranslationHelper.Properties.Settings>
            <setting name="DatabaseFileName" serializeAs="String">
                <value>TranslationEN_DB.db</value>
            </setting>
            <setting name="LocalGithubFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EditorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EditorArgs" serializeAs="String">
                <value />
            </setting>
        </PSO2TranslationHelper.Properties.Settings>
    </userSettings>
</configuration>